<div class="card">
  <div class="card-header text-center">
    Registrar Incidente
  </div>
  <div class="card-body">
    <div class="mb-5">
      <div class="row justify-content-md-center">
        <div class="col-1 text-center">
          <a (click)="onClickUser()" style="cursor: pointer;">
            <i class="bi bi-people-fill" style="font-size: 4rem;"></i>
          </a>
        </div>
        <div class="col-1 text-center">
          <i class="bi bi-gear-fill" style="font-size: 4rem;"></i>
        </div>
        <div class="col-1 text-center">
          <i class="bi bi-piggy-bank-fill" style="font-size: 4rem;"></i>
        </div>
        <div class="col-1 text-center">
          <i class="bi bi-pencil-square" style="font-size: 4rem;"></i>
        </div>
        <div class="col-1 text-center">
          <i class="bi bi-graph-up-arrow" style="font-size: 4rem;"></i>
        </div>
      </div>
    </div>
    <div class="text-center mb-5">
      <span style="border: 1px solid black; padding: 5px;">Total de los Incidentes</span>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Especialista</th>
            <th scope="col">Herramienta</th>
            <th scope="col">Tipo Incidencia</th>
            <th scope="col">Especialidad CIBER</th>
            <th scope="col">Criticidad</th>
            <th scope="col">Unidad Tactica</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Host name</th>
            <th scope="col">Ver</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">0001</th>
            <td>SV. CARVAJAL JAIR</td>
            <td>Symantec</td>
            <td>Código Malicioso</td>
            <td>Incidente de Ciberseguridad</td>
            <td>Media</td>
            <td>BILOP</td>
            <td>22/02/2022</td>
            <td>ABIERTO</td>
            <td>BILOPS1001</td>
            <td>
              <a routerLink="/heroes-registrar" style="cursor: pointer;"><i class="bi bi-eye-fill"></i></a>
            </td>
          </tr>
          <tr>
            <th scope="row">0002</th>
            <td>SV. CARVAJAL JAIR</td>
            <td>Symantec</td>
            <td>Código Malicioso</td>
            <td>Incidente de Ciberseguridad</td>
            <td>Media</td>
            <td>GMCOR</td>
            <td>10/03/2022</td>
            <td>CERRADO</td>
            <td>GMCORS4003</td>
            <td>
              <a routerLink="/heroes-registrar" style="cursor: pointer;"><i class="bi bi-eye-fill"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link">1</a></li>
          <li class="page-item"><a class="page-link">2</a></li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
